# serverless.yml
plugins:
  - serverless-webpack
  - serverless-dotenv-plugin
  - serverless-offline
  - serverless-offline-sns

service: no-code-ag
provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
functions:
  create:
    handler: src/handlers/createPopulation.handler
    events:
      - sns: create
  graphql:
    # this is formatted as <FILENAME>.<HANDLER>
    handler: src/handlers/graphql.handler
    events:
      - http:
          path: graphql
          method: post
          cors: true
      - http:
          path: graphql
          method: get
          cors: true

custom:
  webpack:
    webpackConfig: 'webpack.config.js' # Name of webpack configuration file
    includeModules: true # Node modules configuration for packaging
    packager: 'yarn' # Packager that will be used to package your external modules

  serverless-offline-sns:
    port: 4002 # a free port for the sns server to run on
    debug: false
